.profile {
  display: flex;
  max-width: 880px;
  margin: 40px auto;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__description {
  max-width: 420px;
  display: flex;
  flex-wrap: wrap;
  margin: 22px auto 21px 30px;
}

.profile_name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__button-edit {
  display: flex;
  margin: 15px auto 0 18px;
  border: solid 1px #fff;
  width: 24px;
  height: 24px;
}

.profile__button-edit-img {
  margin: auto;
  width: 10px;
  height: 10px;
}

.profile__role {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.profile__button-add {
  display: flex;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  margin: auto 0 auto;
}

.profile__button-add-img {
  width: 22px;
  height: 22px;
  margin: auto;
}

@media (max-width: 740px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 740px;
    margin: 40px auto 10px;
  }

  .profile__button-add {
    width: 282px;
    height: 50px;
    border: 2px solid #fff;
    margin: auto 0 auto;
  }
}

@media (max-width: 580px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 580px;
    margin: 40px auto 10px;
  }

  .profile__description {
    max-width: 282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
  }

  .profile_name {
    width: 196px;
    font-size: 22px;
    line-height: 100%;
    margin: 0 0 0 auto;
  }

  .profile__button-edit {
    display: flex;
    margin: 4px auto 0 10px;
    border: solid 1px #fff;
    width: 18px;
    height: 18px;
  }

  .profile__button-edit-img {
    margin: auto;
    width: 7.5px;
    height: 7.5px;
  }

  .profile__role {
    margin: 14px auto;
    font-size: 14px;
    line-height: 100%;
  }

  .profile__button-add {
    width: 282px;
    height: 50px;
    border: 2px solid #fff;
    margin: auto 0 auto;
  }
}
